.additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additional__product {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional__info {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $special_dark-grey;
}

.additional__order {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $basic-green;
  border: none;
  text-decoration: none;
}

@media (max-width: $tablet-width - 1px) {
  .additional__item {
    padding-top: 13px;
    padding-bottom: 17px;
    border-top: 1px solid $color-light-gray;
    margin-right: 20px;
    margin-left: 20px;
  }

  .additional__order {
    display: block;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    margin-top: 2px;
  }

  .additional__product {
    margin: 0;
    padding-left: 1px;
  }

  .additional__info {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 15px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .additional__list {
    margin: 0;
    border: 1px solid $additional-border;
    margin-bottom: 69px;
    padding: 0 10px;
  }

  .additional__order {
    padding: 9.5px 93px;
    text-align: center;
    display: block;
    margin: 0 2px;
    margin-bottom: 28px;
  }

  .additional__item {
    border-top: 1px solid $additional-border;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
  }

  .additional__item:first-of-type {
    border-top: none;
  }

  .additional__top {
    padding: 0 3px;
    display: flex;
    margin-bottom: 25px;
    margin-top: 26px;
    justify-content: space-between;
  }

  .additional__product {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }

  .additional__info {
    margin: 0;
  }

  .additional__sign {
    position: relative;
    top: 3px;
    left: 3px;
    margin-left: 49px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional__list {
    width: 896px;
    border: none;
    padding-top: 1px;
    box-sizing: border-box;
    border-bottom: 1px solid $additional-border;
  }

  .additional__order {
    text-align: center;
    padding: 10px;
    margin-top: 16px;
  }

  .additional__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-top: 1px solid $additional-border;
    margin-bottom: 20px;
  }

  .additional__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .additional__product {
    position: relative;
    top: -1px;
    right: 3px;
    margin-top: 18px;
    // margin-bottom: 28px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .additional__info {
    position: relative;
    top: 0;
    left: -5px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    // margin-bottom: 24px;
    width: 288px;
  }

  .additional__sign {
    position: relative;
    right: 1px;
    font-size: 16px;
    line-height: 20px;
  }
}
