.cat-timelapse__before {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.cat-timelapse__after {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (max-width: $tablet-width - 1px) {
  .cat-timelapse {
    padding-bottom: 37px;
    background-color: $color-gray;
  }

  .cat-timelapse__image {
    position: relative;
    left: -5px;
    top: -4px;
    display: block;
    margin: 0 auto;
    padding-top: 14px;
    margin-bottom: 27px;
  }

  .cat-timelapse__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 61px;
  }

  .cat-timelapse__toddler {
    position: relative;
    width: 84px;
    height: 14px;
    box-sizing: border-box;
    background-color: $color-white;
    border-radius: 6px;
    border: 1px solid $additional-border;
    margin-top: 3px;
    margin-left: 3px;
  }

  .cat-timelapse__green {
    border: none;
    position: absolute;
    content: "";
    width: 35px;
    height: 6px;
    top: 3px;
    left: 6px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: $basic-green;
  }

  .cat-timelapse__after {
    border: none;
    background: none;
    padding: 0;
  }

  .cat-timelapse__before {
    border: none;
    background: none;
    padding: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .cat-timelapse {
    background-color: $color-gray;
    margin-top: 45px;
    height: 462px;
  }

  .cat-timelapse__wrapper {
    position: relative;
  }

  .cat-timelapse__buttons {
    display: flex;
    justify-content: center;
    padding-top: 362px;
    z-index: 2;
  }

  .cat-timelapse__toddler {
    position: relative;
    width: 440px;
    top: 14px;
    height: 6px;
    box-sizing: border-box;
    background-color: $additional-border;
    border-radius: 6px;
    border: 1px solid $additional-border;
  }

  .cat-timelapse__green {
    position: relative;
    top: -15px;
    display: block;
    margin: 0 auto;
    border: none;
    width: 35px;
    height: 35px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Ccircle cx='20' cy='19' r='16.5' fill='%23fff' stroke='%23CDCDCD'/%3E%3Ccircle cx='20' cy='19' r='4' fill='%2368B738'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='40' height='40' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  }

  .cat-timelapse__green:focus {
    border: none;
    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg width='43' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)' stroke='%2368B738'%3E%3Ccircle cx='22' cy='19' r='16.5' fill='%23fff'/%3E%3Ccircle cx='22' cy='19' r='3.5' fill='%2368B738'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='44' height='44' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='3'/%3E%3CfeGaussianBlur stdDeviation='2.5'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  }

  .cat-timelapse__after {
    padding: 0;
    position: relative;
    left: 10px;
    font-size: 20px;
    line-height: 30px;
    border: none;
    background-color: $color-gray;
  }

  .cat-timelapse__after::before {
    position: absolute;
    content: "";
    width: 100%;
    box-sizing: border-box;
    top: 30px;
    border-bottom: 1px dashed #b2b2b2;
  }

  .cat-timelapse__before {
    padding: 0;
    position: relative;
    right: 11px;
    font-size: 20px;
    line-height: 30px;
    border: none;
    background-color: $color-gray;
  }

  .cat-timelapse__before::before {
    position: absolute;
    content: "";
    width: 100%;
    box-sizing: border-box;
    top: 30px;
    border-bottom: 1px dashed #b2b2b2;
  }

  .cat-timelapse__image {
    position: absolute;
    display: block;
    top: -191px;
    left: 0;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .cat-timelapse {
    background-color: transparent;
    margin-top: 135px;
    margin-right: 5px;
    height: 462px;
  }

  .cat-timelapse__wrapper {
    position: relative;
  }

  .cat-timelapse__buttons {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    bottom: 295px;
    left: 66px;
  }

  .cat-timelapse__toddler {
    position: relative;
    width: 440px;
    top: 14px;
    height: 6px;
    box-sizing: border-box;
    background-color: $additional-border;
    border-radius: 6px;
    border: 1px solid $additional-border;
  }

  .cat-timelapse__green {
    position: relative;
    top: -15px;
    display: block;
    margin: 0 auto;
    border: none;
    width: 35px;
    height: 35px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Ccircle cx='20' cy='19' r='16.5' fill='%23fff' stroke='%23CDCDCD'/%3E%3Ccircle cx='20' cy='19' r='4' fill='%2368B738'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='40' height='40' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  }

  .cat-timelapse__green:focus {
    border: none;
    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg width='43' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)' stroke='%2368B738'%3E%3Ccircle cx='22' cy='19' r='16.5' fill='%23fff'/%3E%3Ccircle cx='22' cy='19' r='3.5' fill='%2368B738'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='44' height='44' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='3'/%3E%3CfeGaussianBlur stdDeviation='2.5'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  }

  .cat-timelapse__after {
    padding: 0;
    position: relative;
    left: 14px;
    font-size: 20px;
    line-height: 30px;
    border: none;
    background-color: transparent;
  }

  .cat-timelapse__after::before {
    position: absolute;
    content: "";
    width: 100%;
    box-sizing: border-box;
    top: 30px;
    border-bottom: 1px dashed #b2b2b2;
  }

  .cat-timelapse__before {
    padding: 0;
    position: relative;
    right: 17px;
    font-size: 20px;
    line-height: 30px;
    border: none;
    background-color: transparent;
  }

  .cat-timelapse__before::before {
    position: absolute;
    content: "";
    width: 100%;
    box-sizing: border-box;
    top: 30px;
    border-bottom: 1px dashed #b2b2b2;
  }

  .cat-timelapse__image {
    position: relative;
    display: block;
    top: -191px;
    left: 44px;
  }
}
