.cat-timelapse__before {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.cat-timelapse__after {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (max-width: $tablet-width - 1px) {
  .cat-timelapse {
    padding-bottom: 37px;
    background-color: $color-gray;
  }

  .cat-timelapse__image {
    position: relative;
    left: -5px;
    top: -4px;
    display: block;
    margin: 0 auto;
    padding-top: 14px;
    margin-bottom: 27px;
  }

  .cat-timelapse__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 61px;
  }

  .cat-timelapse__after {
    border: none;
    background: none;
    padding: 0;
  }

  .cat-timelapse__before {
    border: none;
    background: none;
    padding: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .cat-timelapse {
    background-color: $color-gray;
  }
}

@media (min-width: $desktop-width) {
  .cat-timelapse {
    background-color: $basic-grey;
  }
}
