.catalog {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__link {
  margin: 0 auto;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: $special_dark-grey-2;
  text-transform: uppercase;
}

.catalog__title--more {
  color: $special_dark-grey-3;
  text-transform: uppercase;
}

.catalog__column {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $special_dark-grey;
}

.catalog__order {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $basic-green;
  border: none;
  text-decoration: none;
}

.catalog__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.catalog__show {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $special_dark-grey;
  background-color: $basic-grey;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: $tablet-width - 1px) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $color-light-gray;
    padding-top: 18px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .catalog__item--more {
    position: relative;
  }

  .catalog__item--more::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    align-self: center;
    top: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23D3D3D3' stroke-width='2' d='M15 0v30M30 15H0'/%3E%3C/svg%3E");
  }

  .catalog__product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .catalog__title {
    display: block;
    width: 76px;
    margin-bottom: 14px;
  }

  .catalog__row {
    display: flex;
    justify-content: space-between;
  }

  .catalog__link {
    display: flex;
    align-items: center;
  }

  .catalog__link--small {
    margin-top: 16px;
  }

  .catalog__link--big {
    margin-top: 7px;
  }

  .catalog__order {
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
  }

  .catalog__title--more {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 59px;
    margin-bottom: 8px;
  }

  .catalog__text {
    text-align: center;
    margin: 0;
    margin-bottom: 21px;
  }

  .catalog__show {
    text-align: center;
    padding: 10px 0;
  }

  .catalog__order--additional {
    display: block;
    margin: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .catalog--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;
    padding: 0 30px;
    margin-bottom: 68px;
  }

  .catalog__item {
    padding: 0;
    display: flex;
    height: 330px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $basic-grey;
    border: none;
    padding-left: 38px;
    padding-right: 39px;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .catalog__product {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .catalog__link {
    position: relative;
  }

  .catalog__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog__title {
    display: block;
    width: 150px;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 19px;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__image {
    position: relative;
    top: 8px;
  }

  .catalog__table {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 26px;
  }

  .catalog__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid $color-light-gray;
  }

  .catalog__column {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog__item--more {
    box-sizing: border-box;
    min-height: 429px;
    align-items: center;
    background-color: transparent;
    border: 2px solid $basic-grey;
  }

  .catalog__title--more {
    margin-top: 161px;
    margin-bottom: 23px;
  }

  .catalog__text {
    margin-bottom: 87px;
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .catalog__show {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .catalog__order {
    padding: 9.5px 93px;
    text-align: center;
  }

  .catalog__order--additional {
    display: block;
    text-align: center;
    margin: 0 2px;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .catalog--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 145px;
    padding: 0 110px;
    margin-bottom: 75px;
    margin-top: 163px;
  }

  .catalog__item {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: $basic-grey;
    border: none;
    padding-bottom: 40px;
    height: 330px;
    justify-content: flex-end;
    padding-left: 38px;
    padding-right: 39px;
    padding-top: 60px;
  }

  .catalog__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 7px;
    border-bottom: 1px solid $color-light-gray;
  }

  .catalog__column {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog__title {
    position: relative;
    top: 5px;
    left: 1px;
    display: block;
    width: 150px;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 10px;
  }

  .catalog__image {
    position: relative;
    top: -13px;
    left: 5px;
  }

  .catalog__order {
    text-align: center;
    padding: 10px;
    margin-top: 16px;
  }

  .catalog__title--more {
    margin-top: 160px;
    margin-bottom: 23px;
  }

  .catalog__text {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 87px;
  }

  .catalog__show {
    text-align: center;
    background-color: $basic_grey;
    padding: 10px 39px;
  }

  .catalog__order--additional {
    padding-left: 91px;
    padding-right: 91px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 38px;
  }

  .catalog__item--more {
    box-sizing: border-box;
    min-height: 429px;
    align-items: center;
    background-color: $color-white;
    border: 2px solid $basic-grey;
  }
}
