.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey-3;
}

.contacts__location {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $special_dark-grey;
}

.contacts--index {
  background-color: $color-white;
}

@media (max-width: $tablet-width - 1px) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .contacts--padding {
    padding: 28px 19px;
    padding-bottom: 26px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    padding: 65px 72px 60px 72px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 24px;
    width: 171px;
  }

  .contacts__location {
    text-align: right;
    width: 159px;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__location span {
    display: block;
    margin-top: 17px;
  }

  .contacts__lower {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    background-color: $color-white;
    top: 95px;
    left: 110px;
  }

  .contacts--padding {
    box-sizing: border-box;
    width: 570px;
    height: 201px;
    display: flex;
    padding: 66px 89px 59px 76px;
  }

  .contacts__title {
    display: block;
    width: 250px;
    height: 84px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__location {
    position: relative;
    top: -3px;
    width: 155px;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__location span {
    display: block;
    margin-top: 20px;
  }
}
