.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

@media (max-width: $tablet-width - 1px) {
  .page-main__title {
    padding-top: 27px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-top: 1px solid $color-light-gray;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 165px;
    margin-left: 30px;
  }
}

// @media (min-width: $desktop-width) {
//   .page-main__title {
//   }
// }
