.page-header {
  background-color: $color-background;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: flex;
}

.page-header__title {
  display: block;
}

@media (max-width: $tablet-width - 1px) {
  .page-header {
    height: 38px;
  }

  .page-header--centered {
    padding: 11px 20px 18px 20px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .page-header--centered {
    padding: 24px 29px 62px 30px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .page-header__title {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header--centered {
    padding: 0;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 29px;
    width: 100%;
  }

  .page-header__title {
    display: none;
  }
}
