.principle__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.principle__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.principle__item {
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

@media (max-width: $tablet-width - 1px) {
  .principle--padding {
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .principle__title {
    margin-bottom: 40px;
  }

  .principle__list {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .principle__item {
    position: relative;
    padding-bottom: 26px;
    max-width: 200px;
  }

  .principle__item::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: -80px;
    top: -2px;
    // background-image: url("../img/cat_back-mass.svg");
    background-color: $basic-green;
    background-repeat: no-repeat;
  }

  .principle__item--healthy::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon_leaf.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .principle__item--powder::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon_tub.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .principle__item--cutlery::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon_eat.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .principle__item--clock::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon_alarm.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .principle--padding {
    padding: 0 30px;
    padding-top: 15px;
    padding-bottom: 104px;
  }

  .principle__title {
    margin-bottom: 183px;
    font-size: 60px;
    line-height: 60px;
  }

  .principle__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 185px;
    grid-template-rows: 1fr 1fr;
    row-gap: 134px;
  }

  .principle__item {
    width: 201px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .principle--padding {
    padding: 0;
    padding-bottom: 126px;
  }

  .principle__title {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }

  .principle__list {
    display: flex;
    justify-content: space-between;
  }

  .principle__item {
    width: 201px;
    font-size: 16px;
    line-height: 24px;
  }
}
