@import "variables.scss";
@import "fonts.scss";

.program-form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.program-form__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.program-form__list {
  list-style: none;
}

.program-form__sign {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.program-form__sign--dark {
  color: $special_dark-grey-2;
}

.program-form__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.program-form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $basic-green;
  border: none;
}

.program-form__footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
