.program-form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.program-form__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.program-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.program-form__sign {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.program-form__sign--dark {
  color: $special_dark-grey-2;
}

.program-form__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.program-form__field::placeholder {
  color: $special_dark-grey;
}

.program-form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $basic-green;
  border: none;
}

.program-form__footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media (max-width: $tablet-width - 1px) {
  .program__form--padding {
    padding-top: 27px;
  }

  .program-form {
    border-top: 1px solid $color-light-gray;
  }

  .program-form__title {
    margin-top: 27px;
    margin-bottom: 37px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .program-form__text {
    margin-bottom: 39px;
    padding-left: 20px;
    padding-right: 74px;
  }

  .program-form__list {
    margin-bottom: 10px;
  }

  .program-form__item label {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  .program-form__sign {
    padding-right: 13px;
    padding-top: 14px;
  }

  .program-form__sign--dark {
    padding-top: 8px;
    padding-bottom: 16.5px;
    padding-left: 25px;
  }

  .program-form__field {
    margin-bottom: 11.5px;
    width: 100%;
    border: 1px solid $color-lighter-gray;
    padding-top: 13.2px;
    padding-bottom: 13.8px;
    padding-left: 15.1px;
  }

  .program-form__radio {
    position: relative;
    margin-bottom: 13px;
    margin-right: 15px;
    appearance: none;
  }

  .program-form__radio::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: -6px;
    top: -2px;
    // background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='19.5' stroke='%23CDCDCD'/%3E%3C/svg%3E%0A");
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='19.5' stroke='%23CDCDCD'/%3E%3C/svg%3E%0A");
  }

  .program-form__radio:checked::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    // background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='19.5' stroke='%23CDCDCD'/%3E%3Ccircle cx='20' cy='20' r='9' fill='%2368B738'/%3E%3C/svg%3E%0A");
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='19.5' stroke='%23CDCDCD'/%3E%3Ccircle cx='20' cy='20' r='9' fill='%2368B738'/%3E%3C/svg%3E%0A");
  }

  .program-form__list--radio {
    padding-top: 22px;
    padding-bottom: 7px;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
  }

  .program-form__submit {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .program-form__button {
    text-align: center;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .program-form__footnote {
    text-align: center;
    margin-top: 21px;
    margin-bottom: 32px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .program__form--padding {
    padding-top: 27px;
  }

  .program-form__title {
    margin-bottom: 54px;
    padding-left: 69px;
    padding-right: 69px;
    font-size: 60px;
    line-height: 60px;
  }

  .program-form__text {
    margin-bottom: 66px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  .program-form__sign {
    padding-right: 11px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-form__field {
    width: 100%;
    margin-right: 67px;
  }

  .program-form__field::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .program-form__list {
    padding-left: 71px;
  }

  .program-form__item {
    margin-bottom: 20px;
  }

  .program-form__item label {
    display: flex;
  }

  .program-form__radio {
    margin-bottom: 13px;
    margin-right: 15px;
  }

  .program-form__list--radio {
    margin-top: 52px;
    margin-bottom: 75px;
    margin-right: 71px;
    margin-left: 67px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 28px;
    padding-left: 7px;
    border: 1px solid $color-lighter-gray;
  }

  .program-form__submit {
    display: flex;
    margin-bottom: 72px;
  }

  .program-form__button {
    padding: 13px 45px;
    box-sizing: border-box;
    width: 282px;
    font-size: 20px;
    margin-left: 71px;
    margin-right: 61px;
  }
}

@media (min-width: $desktop-width) {
  .program-form__title {
    margin-bottom: 56px;
    font-size: 60px;
    line-height: 60px;
    padding-left: 110px;
  }

  .program-form__text {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    padding-left: 110px;
  }

  .program-form_lists-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-left: 111px;
    margin-bottom: 69px;
  }

  .program-form__sign {
    font-size: 20px;
    line-height: 30px;
    padding-right: 14px;
  }

  .program-form__list--radio {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 27px;
    margin-right: 67px;
    border: 1px solid $color-lighter-gray;
  }

  .program-form__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .program-form__field {
    width: 100%;
  }

  .program-form__item label {
    display: flex;
  }

  .program-form__submit {
    display: flex;
    margin-bottom: 82px;
  }

  .program-form__button {
    padding: 13px 207px;
    font-size: 20px;
    margin-left: 111px;
    margin-right: 81px;
  }
}
