.transformation {
  background-color: $color-gray;
}

.transformation__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.transformation__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
}

.transformation__result {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.transformation__legend {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: lowercase;
  color: $special_dark-grey;
  margin: 0 auto;
  text-align: center;
}

.transformation__footnone {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: $tablet-width - 1px) {
  .transformation--padding {
    padding: 0 20px;
    padding-top: 27px;
    padding-bottom: 31px;
  }

  .transformation__title {
    margin-bottom: 33px;
  }

  .transformation__parameters--wrapper {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

  .transformation__index {
    border: 1px solid $additional-border;
    box-sizing: border-box;
    border-radius: 3px;
    padding-top: 14px;
    width: 124px;
    height: 56px;
  }

  .transformation__legend {
    background-color: $color-gray;
    margin-top: 8px;
    display: block;
    width: 77px;
  }

  .transformation__text {
    padding-bottom: 25px;
  }

  .transformation__spending {
    margin-top: 35px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .transformation {
    background: none;
  }

  .transformation--padding {
    padding: 0 30px;
    padding-top: 43px;
    padding-bottom: 255px;
  }

  .transformation__title {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    padding-bottom: 63px;
  }

  .transformation__text {
    padding-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
    white-space: initial;
    max-width: 700px;
  }

  .transformation__parameters {
    display: flex;
    justify-content: space-between;
  }

  .transformation__parameters--wrapper {
    display: flex;
    gap: 42px;
  }

  .transformation__result {
    font-size: 30px;
    line-height: 37px;
  }

  .transformation__index {
    border: 1px solid $additional-border;
    box-sizing: border-box;
    border-radius: 3px;
    padding-top: 14px;
    padding-bottom: 56px;
    width: 162px;
    height: 56px;
  }

  .transformation__legend {
    font-size: 14px;
    line-height: 14px;
    margin-top: 11px;
    display: block;
    width: 140px;
    background-color: $color-background;
  }

  .transformation__spending {
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-top: 11px;
  }

  .transformation__footnone {
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .transformation {
    background: none;
    // background: linear-gradient($color-background 0 135px, $basic-grey 135px 100%);
  }

  .transformation--padding {
    padding-left: 0;
    padding-right: 0;
  }

  .transformation__wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }

  .transformation__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 146px;
  }

  .transformation__text {
    width: 436px;
    padding-bottom: 69px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .transformation__parameters--wrapper {
    display: flex;
    gap: 42px;
    padding-bottom: 49px;
  }

  .transformation__result {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }

  .transformation__index {
    border: 1px solid $additional-border;
    box-sizing: border-box;
    border-radius: 3px;
    padding-top: 14px;
    padding-bottom: 56px;
    width: 162px;
    height: 56px;
  }

  .transformation__legend {
    font-size: 14px;
    line-height: 14px;
    margin-top: 11px;
    display: block;
    width: 140px;
    background-color: $basic-grey;
  }

  .transformation__spending {
    display: flex;
    justify-content: space-between;
    width: 327px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 11px;
  }

  .transformation__footnone {
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;
  }
}
