.user-info__list {
  list-style: none;
}

.user-info__sign {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  white-space: nowrap;
}

.user-info__sign--black {
  color: $color-black;
}

.user-info__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.user-info__field::placeholder {
  color: $special_dark-grey;
}

.user-info__comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.user-info__comment::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

@media (max-width: $tablet-width - 1px) {
  .user-info__label {
    display: flex;
    align-items: center;
    padding-left: 19px;
    padding-right: 20px;
    margin-bottom: 11px;
  }

  .user-info__sign {
    padding-right: 10px;
    margin-bottom: 3px;
  }

  .user-info__field {
    width: 100%;
    padding-top: 13.45px;
    padding-bottom: 11.45px;
    padding-left: 16px;
    margin-top: 4px;
    border: 1px solid $additional-border;
  }

  .user-info__label--comment {
    display: block;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }

  .user-info__comment {
    box-sizing: border-box;
    width: 100%;
    min-height: 150px;
    border: 1px solid $color-lighter-gray;
    padding-top: 8px;
    padding-left: 14px;
    resize: none;
  }

  .user-info__item {
    padding-bottom: 23px;
  }

  .user-info__checkbox-item {
    position: relative;
  }

  .user-info__checkbox {
    position: relative;
    margin: 0;
    margin-right: 40px;
    appearance: none;
  }

  .user-info__checkbox::before {
    position: absolute;
    content: "";
    top: -21px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid $additional-border;
    background-position: 50% 50%;
  }

  .user-info__checkbox:checked::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18l-6-7-1 1 7 8L22 7l-1-1-10 12z' fill='%2368B738'/%3E%3C/svg%3E");
  }

  .user-info__checkbox:disabled::before {
    opacity: 0.5;
  }

  .user-info__list {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 9px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .user-info__labels {
    display: flex;
    flex-direction: column;
    margin-left: -17px;
  }

  .user-info__label {
    margin-bottom: 20px;
    padding-bottom: 0;
    display: flex;
  }

  .user-info__sign {
    font-size: 20px;
    line-height: 30px;
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 20px;
  }

  .user-info__field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid $additional-border;
    font-size: 20px;
    line-height: 30px;
  }

  .user-info__label--padding .user-info__sign {
    padding-left: 15px;
    padding-right: 17px;
  }

  .user-info__label--padding .user-info__field {
    padding-left: 19px;
  }

  .user-info__label--comment {
    display: block;
    box-sizing: border-box;
    margin-bottom: 61px;
  }

  .user-info__comment {
    width: 100%;
    min-height: 174px;
    box-sizing: border-box;
    border: 1px solid $color-lighter-gray;
    padding-top: 9px;
    padding-left: 18px;
    resize: none;
  }

  .user-info__comment::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .user-info__list {
    margin: 0;
    margin-bottom: 59px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 41px;
    column-gap: 70px;
  }

  .user-info__item:nth-of-type(even) {
    margin-left: -5px;
  }

  .user-info__checkbox-item {
    position: relative;
  }

  .user-info__checkbox {
    position: relative;
    margin: 0;
    margin-right: 36px;
    appearance: none;
  }

  .user-info__checkbox::before {
    position: absolute;
    content: "";
    top: -30px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid $additional-border;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .user-info__checkbox:checked::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18l-6-7-1 1 7 8L22 7l-1-1-10 12z' fill='%2368B738'/%3E%3C/svg%3E");
  }

  .user-info__checkbox:disabled::before {
    opacity: 0.5;
  }
}

@media (min-width: $desktop-width) {
  .user-info__sign {
    font-size: 20px;
    line-height: 30px;
    padding-right: 18px;
    padding-top: 11px;
  }

  .user-info__field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid $additional-border;
    font-size: 20px;
    line-height: 30px;
  }

  .user-info__field[type="tel"] {
    padding-left: 15px;
  }

  .user-info__labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    column-gap: 78px;
  }

  .user-info__label {
    display: flex;
  }

  .user-info__label--comment {
    display: block;
    box-sizing: border-box;
    margin-bottom: 64px;
  }

  .user-info__comment {
    width: 100%;
    min-height: 174px;
    box-sizing: border-box;
    border: 1px solid $color-lighter-gray;
    padding-top: 9px;
    padding-left: 18px;
    resize: none;
  }

  .user-info__comment::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .user-info__list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 221px 221px 221px 221px;
    column-gap: 104px;
    padding-right: 24px;
    margin-bottom: 65.5px;
  }

  .user-info__sign--black {
    padding-left: 3px;
  }

  .user-info__item {
    padding-right: 85px;
  }

  .user-info__checkbox-item {
    display: flex;
  }

  .user-info__checkbox {
    position: relative;
    margin: 0;
    margin-right: 56px;
    appearance: none;
  }

  .user-info__checkbox::before {
    position: absolute;
    content: "";
    top: 6px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid $additional-border;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .user-info__checkbox:checked::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18l-6-7-1 1 7 8L22 7l-1-1-10 12z' fill='%2368B738'/%3E%3C/svg%3E");
  }

  .user-info__checkbox:disabled::before {
    opacity: 0.5;
  }
}
