.user-info__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.user-info__list {
  list-style: none;
}

.user-info__sign {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  white-space: nowrap;
}

.user-info__sign--black {
  color: $color-black;
}

.user-info__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.user-info__field::placeholder {
  color: $special_dark-grey;
}

.user-info__comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.user-info__comment::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

@media (max-width: $tablet-width - 1px) {
  .user-info__title {
    margin-top: 26px;
    margin-bottom: 30px;
    padding-left: 19px;
    width: 187px;
  }

  .user-info__label {
    display: flex;
    align-items: center;
    padding-left: 19px;
    padding-right: 20px;
    margin-bottom: 11px;
  }

  .user-info__sign {
    padding-right: 10px;
    margin-bottom: 3px;
  }

  .user-info__field {
    width: 100%;
    padding-top: 13.45px;
    padding-bottom: 11.45px;
    padding-left: 16px;
    margin-top: 4px;
    border: 1px solid $additional-border;
  }

  .user-info__title--comment {
    margin-top: 23px;
    margin-bottom: 38px;
  }

  .user-info__label--comment {
    display: block;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }

  .user-info__comment {
    box-sizing: border-box;
    width: 100%;
    min-height: 150px;
    border: 1px solid $color-lighter-gray;
    padding-top: 8px;
    padding-left: 14px;
    resize: none;
  }

  .user-info__title--additional {
    margin-top: 19px;
    margin-bottom: 39px;
  }

  .user-info__item {
    padding-bottom: 23px;
  }

  .user-info__checkbox-item {
    position: relative;
  }

  .user-info__checkbox {
    position: relative;
    margin: 0;
    margin-right: 40px;
    appearance: none;
  }

  .user-info__checkbox::before {
    position: absolute;
    content: "";
    top: -21px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid $additional-border;
    background-position: 50% 50%;
  }

  .user-info__checkbox:checked::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18l-6-7-1 1 7 8L22 7l-1-1-10 12z' fill='%2368B738'/%3E%3C/svg%3E");
  }

  .user-info__checkbox:disabled::before {
    opacity: 0.5;
  }

  .user-info__list {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 9px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .user-info__title {
    margin-left: 69px;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  .user-info__labels {
    display: flex;
    flex-direction: column;
    padding-left: 68px;
    padding-right: 65px;
  }

  .user-info__label {
    margin-bottom: 20px;
    display: flex;
  }

  .user-info__sign {
    padding-right: 14px;
    font-size: 20px;
    line-height: 30px;
  }

  .user-info__field {
    width: 100%;
    margin-bottom: 65px;
  }

  .user-info__title--comment {
    margin-top: 45px;
  }

  .user-info__label--comment {
    display: block;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 65px;
  }

  .user-info__comment {
    width: 100%;
    min-height: 174px;
  }

  .user-info__title--additional {
    margin-bottom: 57px;
    margin-left: 70px;
  }

  .user-info__list {
    margin: 0;
    margin-left: 70px;
    margin-bottom: 54px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 124px;
  }

  .user-info__checkbox {
    margin-right: 19px;
  }
}

@media (min-width: $desktop-width) {
  .user-info__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 110px;
    margin-bottom: 76px;
  }

  .user-info__sign {
    font-size: 20px;
    line-height: 30px;
    padding-right: 18px;
  }

  .user-info__field {
    width: 100%;
  }

  .user-info__labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 111px;
    padding-right: 110px;
    column-gap: 78px;
  }

  .user-info__label {
    display: flex;
  }

  .user-info__title--comment {
    margin-top: 67px;
  }

  .user-info__label--comment {
    display: block;
    box-sizing: border-box;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 67px;
  }

  .user-info__comment {
    width: 100%;
    min-height: 174px;
  }

  .user-info__title--additional {
    margin-bottom: 57px;
  }

  .user-info__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 61px;
  }
}
