$color-background: #ffffff;
$color-white: #ffffff;
$color-black: #000000;
$basic-green: #68b738;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$special_dark-grey-3: #111111;
$basic-grey: #f2f2f2;
